*.bak
*.temp
*.tmp
*.pdf
*.cpp
*.exe
*.htp
*.obj
*.log
ss.tpl
ss_opt.tpl
ss_trans.tpl
~$*.*
Compile/ss.log
.Rproj.user
*.Rproj
.Rhistory
Compile/ssFileLabels.txt
StockSynthesis.code-workspace
