*.bak
*.temp
*.tmp
*.pdf
*.cpp
*.exe
*.htp
*.obj
*.log
ss.tpl
ss3.tpl
ss_opt.tpl
ss_trans.tpl
~$*.*
Compile/ss.log
Compile/ss3.log
.Rproj.user
*.Rproj
.Rhistory
Compile/ssFileLabels.txt
Compile/Make_SS_warn.bat
StockSynthesis.code-workspace
