*.bak
*.temp
*.tmp
*.pdf
*.cpp
*.exe
*.htp
*.obj
*.log
Compile/ss.tpl
Compile/ss_opt.tpl
Compile/ss_trans.tpl
Compile/ss3.tpl
Compile/Make_SS_warn.bat
~$*.*
Compile/ss.log
Compile/ss3.log
.Rproj.user
*.Rproj
.Rhistory
Compile/ssFileLabels.txt
StockSynthesis.code-workspace
Compile/Make_SS_warn.bat
