# Check that SS_output and SS_plots run with changes in ss3.
name: call-test-r4ss-with-ss3
on:
  workflow_dispatch:
  push:
    paths:
      - '**.tpl'
    branches:
      - main
  pull_request:
    paths:
      - '**.tpl'
    branches:
      - main
jobs:
  call-workflow:
    uses: nmfs-stock-synthesis/workflows/.github/workflows/test-r4ss-with-ss3.yml@main
