name: build-warnings

# Controls when the action will run.
on:
  workflow_dispatch:

jobs:
  build-warnings:
    runs-on: ubuntu-latest
    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      RSPM: "https://packagemanager.rstudio.com/cran/__linux__/focal/latest"

    steps:

      - name: Checkout ss repo
        uses: actions/checkout@v2

      - name: setup R
        uses: r-lib/actions/setup-r@master

      - name: checkout admb
        uses: actions/checkout@v2
        with:
          repository: admb-project/admb
          path: admb
          ref: admb-13.0
      - name: flex
        run: sudo apt-get install flex
      - name: clean
        run: cd admb && make clean
      - name: see where it is
        run: |
          ls
          cd admb && ls
      - name: compile admb
        run: |
          cd admb && make 
      - name: see where admb is
        run: |
          cd admb && ls -l
      - name: put admb in path, linux
        run: |
          sudo mv admb /usr/local/bin
          sudo chmod 755 /usr/local/bin/admb
          echo "/usr/local/bin/admb" >> $GITHUB_PATH

      - name: make the directory if needed
        run: |
          rm -rf SS330
          mkdir SS330

      - name: Build stock synthesis with warnings
        run: |
          /bin/bash ./Make_SS_330_new.sh -a /usr/local/bin/admb -b SS330 -w
      # Runs a set of commands using the runners shell
      - name: Use R to parse warnings output
        run: |
          txt <- readLines("warnings.txt", encoding = "UTF-8" )
          warn_line <- grep(pattern = "compiling a second time to get warnings",
            x = txt,
            fixed = TRUE)
          txt <- txt[(warn_line+1):length(txt)]
          rm_warn_start_lines <- grep(pattern = "/usr/local/bin/admb", x = txt,
            fixed = TRUE)
          all_warning_end_lines <- grep(pattern = "^", x = txt, fixed = TRUE)
          to_rm <- NULL
          for (l in rm_warn_start_lines) {
            tmp_end_line <- min(all_warning_end_lines[all_warning_end_lines > l])
            to_rm <- c(to_rm, l:tmp_end_line)
          }
          txt <- txt[-to_rm]
          n_errors <- length(grep(pattern = "^", x = txt, fixed = TRUE))
          message("There are ", n_errors, " warning messages related to SS.")
          write.table(n_errors, "n_warn.txt")
          writeLines(txt, "warnings_ss.txt")
        shell: Rscript {0}

      - name:  Print warnings
        run: cat warnings_ss.txt

      - name: determine if fails/passes
        run: |
          n_warn <- read.table("n_warn.txt")
          n_warn <- as.integer(n_warn[1,1])
          if (n_warn > 83) {
            stop("Increased number of warnings")
          } else {
            message("Acceptable number of warnings")
          }
        shell: Rscript {0}

      - name: Archive warnings text file
        if: always()
        uses: actions/upload-artifact@main
        with:
          name: 'warnings_ss.txt'
          path: warnings_ss.txt
